@import url('https://fonts.google.com/specimen/DM+Serif+Display');
@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

img {
  max-width: 100%;
  height: auto;
}

body {
  color: rgb(var(--foreground-rgb));
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.float-container {
  border: 2px solid #fff;
}
.float-child {
  border: 2px solid red;
}  
